body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f0f0;
    font-size: 16px;
}

h1 {
    background-color: #f5f0f0;
    font-size: 35px;
    color: #050202;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#cart-items {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#payment-form {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-items div, #payment-form label, #payment-form input {
    margin-bottom: 15px;
}

#button {
    background-color: #b8d0bd;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

#button:hover {
    background-color: #218838;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
    font-size: 16px;
}

.cart-item-details p {
    margin: 5px 0;
}

.cart-item-details input {
    width: 50px;
    margin-left: 10px;
}

.cart-item-details button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #b8d0bd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item-details button:hover {
    background-color: #218838;
}

#cart-total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    flex-grow: 1; 
    text-align: center;
}
#cart-summary {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
}

#cart-total {
    text-align: center;
}
#paiement {
    margin-top: 10px; 
}

#paiement {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b8d0bd;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto 0;
    text-align: center;
}

#paiement:hover {
    background-color: #218838;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b8d0bd;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.add-to-cart {
    cursor: pointer;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

.form-group.horizontal {
    flex-direction: row;
    align-items: center;
}

.form-group.horizontal label {
    flex: 1;
    margin-bottom: 0;
}

.form-group.horizontal input {
    flex: 2;
    margin-left: 10px;
}

.ac {
    text-align: center;
    margin-top: 20px;
}
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 1rem;
}