<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/contact.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/produit.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=jost:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    
    
</head>

<body>
    <header>
        <a href="#" class="logo"><img src="{{url_for('static', filename='Images/T.PNG')}}" alt="" >
        </a>
        <ul class="navmenu">
            <li><a href="/index">acceuil</a></li>
            <li><a href="/produit">produit</a></li>
            <li><a href="/paiment">passer a la caisse</a></li>
           
            <li><a href="/contact">contact</a></li>
            <li> <a class="nav-link "href="/sedeconnecter" >Se deconnecter</a></li>
            <div class="nav-icon">
                <a href="/recherche"><i class='bx bx-search'></i></a>
                <a href="/panier"><i class='bx bx-cart'></i>
                </a>
            </div>
            
            
        </ul>
       
        <div >

        </div>
    </header>




    <section class="contact" id="contact">
       <br> <h2 class="heading">Contacter <span>moi</span>
        </h2>
        <form  method="POST" action="">
            <div class="input-box">
                <div class="input-field">
                    <input type="number" placeholder="Numero telephone" name="identifiant"     required>
                    <span class="focus"></span>
                </div>



                <div class="input-field">
                    <input type="text" placeholder="Nom complet"  name="nom" required>
                    <span class="focus"></span>
                </div>

                  


            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Email Adress"  name="email"   required>
                    <span class="focus"></span>
                </div>
                

               


            </div>

            <div class="textarea-field">
                <textarea name="avis" id="" cols="30" rows="10" placeholder="Votre message"  required></textarea>
                <span class="focus"></span>
            </div>

            <div class="btn-box btns">
                <button type="submit" class="btn">Envoyer</button>
            </div>
            
        </form>
    

    </section>



    <footer class="contacts">
        <div class="contact-inf0">
            <div class="first-info">
                <img src="{{url_for('static', filename='Images/T.PNG')}}" alt="" >

            <p>Djibouti</p>
            <p>77620486</p>
            <p>nimah5828@gmail.com</p>
            <div class="social-icon">
                <a href=""><i class='bx bxl-whatsapp'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-facebook-circle'></i></a>
            </div>
            </div>
        </div>
    </footer>
    

    <script src="{{url_for('static', filename='JavaScript/java.js')}}"></script>
    
    
</body>
</html>
