<!-- {% extends 'layout.html'%}



{%block   main%} -->

<main class="row h-100 border" style="height: 100vh!important;">
    {% with messages = get_flashed_messages()%}
    {% if messages%}
        <ul>
            {%for message in messages%}
                <li class="alert alert-danger">
                    {{message}}
                </li>
            {%endfor%}
        </ul>
    {%endif%}
{% endwith %}
    <div class="col my-5  ">
        <h2 class="texte-center my-5 px-5">Se connecter</h2>
        <form class="w-75 mx-auto border p-3 mt-5" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" required>Email address</label>
              <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" required>Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" required >
            </div>
            
            <button type="submit" class="btn btn-primary">Se connecter</button>
            <a href="/index"> S'inscrire</a>
          </form>
    </div>
    <div class="col ">
        <img src="{{url_for('static', filename='Images/photo4.jpg')}}" alt="" class="w-100 h-100">
    </div>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/css/bootstrap.min.css')}}">

</main>

<!-- {%endblock%} -->
