<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/css/styles.css')}}"> 
    
</head>
<body>
      
    <h1 class="custom">Informations de Paiement</h1>
    <main>
        <form action="" id="payment-form" method="POST">
            <div class="form-group">
                <label for="first-name">Prénom :</label>
                <input type="text" id="first-name" name="first-name" placeholder="votre prenom:" required>
            </div>
            <div class="form-group">
                <label for="last-name">Nom :</label>
                <input type="text" id="last-name" name="last-name" placeholder="votre nom:" required>
            </div>
            <label for="card-name">Nom sur la carte:</label>
            <input type="text" id="card-name" name="card-name" placeholder="votre nom sur la carte:" required>

            <label for="card-number">Numéro de la carte:</label>
            <input type="number" id="card-number" name="card-number" placeholder="numéro de votre carte:" required>
            <div id="card-element"></div> 

            <label for="expiry-date">Date d'expiration:</label>
            <input type="date" id="expiry-date" name="expiry-date" placeholder="le date d'expiration:" required>

            <label for="cvv">CVV:</label>
            <input type="number" id="cvv" name="cvv" placeholder="valeur de vérification de carte" required>

            <label for="address">Adresse de livraison:</label>
            <input type="text" id="address" name="address" placeholder="votre domicile" required>

            <button type="submit" >Payer</button>
        </form>
        <a href= "/index" class="t"> revenir vers l'Accueil</a>
    </main>
    <script src="{{url_for('static', filename='JavaScript/js/payment.js')}}"></script>
    
</body>
</html>
